@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Mono:ital@1&display=swap");
@import url("https://fonts.googleapis.com/css?family=Montserrat");
html {
  font-size: 100%;
  box-sizing: border-box;
  overflow: hidden;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  font-family: "Poppins", sans-serif;
  overflow: hidden;
  --def: #96b7c4;
  --inv: #fff;
}
