@import "globals";
@import "nav";
@import "mouse";
@import "variables";
@import "parallax-scroll";
@import "swiper";
@import "cards";

.video-container {
  position: relative;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: flex-start;

  video {
    z-index: -1;
    position: absolute;
    width: auto;
    height: auto;
    min-width: 100%;
    min-height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .video-content {
    position: relative;
    margin: 2rem;
    transform: translate(1%, 60%);
    width: 100%;
    height: 100%;
    text-align: initial;
    vertical-align: center;
    font-size: calc(15px + 1.5vw);
    font-family: "Roboto", sans-serif;
    font-family: "Roboto Mono", monospace;
    text-transform: uppercase;
    color: transparent;
    -webkit-text-stroke: 0.1vw #000;
  }
}
////////////////////////
.spread-container {
  position: relative;
  width: 70vw;
  height: 70vh;
  background: #222;
}

.spread-container .clip {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: 0.5s;
}

.spread-container .clip.clip1 {
  background: url(../give.jpg);
  background-size: cover;
  background-position: center center;
  clip-path: polygon(0 0, 0 100%, 56% 0);
}
.spread-container .clip.clip2 {
  background: url(../them.jpg);
  background-size: cover;
  background-position: center center;
  clip-path: polygon(56% 0, 100% 0, 50% 100%, 0% 100%);
}

.spread-container .clip.clip3 {
  background: url(../hope.jpg);
  background-size: cover;
  background-position: center center;
  clip-path: polygon(90% 0, 100% 0, 100% 100%, 49% 100%);
}
.spread-container:hover .clip {
  clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%);
}

.spread-container .clip:hover {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

.clip .clip-title {
  position: absolute;
  text-transform: uppercase;
  font-size: calc(15px + 1vw);
  transition: 0.5;
  font-weight: bolder;
  opacity: 1;
  color: #f2f2f2;
  -webkit-text-stroke: 0.02vw #000;
  font-family: Poppins, sans-serif;
}
.clip1 .clip-title {
  left: 15%;
  top: 20%;
}

.clip2 .clip-title {
  left: 40%;
  top: 50%;
}

.clip3 .clip-title {
  left: 70%;
  top: 80%;
}

.spread-container .clip-content {
  position: absolute;
  bottom: -100%;
  opacity: 0;
  left: 0;
  width: 70%;
  font-size: calc(5px + 0.5vw);
  padding: 20px;
  background: #fff;
  transition: 0.5s;
  color: #000;
}

.spread-container .clip:hover .clip-content {
  bottom: 0;
  opacity: 1;
}

.spread-container .clip:hover .clip-title {
  transform: translateY(20px);
  opacity: 0;
  transition: 0.5s;
}

